html {
    font-size: 1em;
    line-height: 1.4;
}

body{
    font-size: 16px;
    min-width: 320px;
    position: relative;
    line-height: 1.6;
    overflow-x: hidden;
    font-family: Lato, $verdana;
}

input{
    border:1px solid #d6d4d4;
    color: #888682;
    font-size: em(14px);
    border-radius: 2px;
}

a{
    @include transition(all 0.1s ease-out);
    &:hover,
    &:focus{
        color: $accentColor;
        text-decoration: none;
    }
}

b, strong{
    font-family: LatoBold, $verdana;
}

img{
    max-width: 100%;
}

.g-list{
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
    &__link, &__link:focus{
        font-size: em(15px);
        color: #333;
        display: block;
        position: relative;
        padding-left: 14px;
        text-decoration: none;
        @include transition(color 0.2s ease-in-out);
        &:hover{
            text-decoration: none;
            color: $accentColor;
        }        
        &::before{
            color: #fa5a0c;
            content: "";
            font-family: FontAwesome;
            font-size: 8px;
            line-height: 2px;
            position: absolute;
            height: 6px;
            left: 0px;
            margin: auto;
            top: 0;
            bottom: 0;
        }
    }
    &__link_active{
        color:$accentColor;
    }
}

.select2-container--default .select2-selection--single{
    border: 1px solid #d0cfcf;
    border-radius: 0;
    height: 34px;         
}

.select2-container--default .select2-selection--single .select2-selection__rendered{
    color: #777;
    line-height: 36px;
    font-size: 13px;
    font-weight: normal;
    // padding: 16px 20px 30px 2px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow{
    top: 3px;
}

.select2-container--default .select2-results > .select2-results__options{
   margin:4px;
   margin-bottom: 3px;
   font-family: LatoLight, $verdana;
}

.select2-container--default .select2-results__option--highlighted[aria-selected],
.select2-container--default .select2-results__option[aria-selected="true"]
{
    background-color: $accentColor;
}

.select2-container--default .select2-results__option[aria-selected="true"]{
    color: #fff;
}

.select2-results__option{
    // padding: 2px 0 2px 2px;
    margin-bottom: 1px; 
    font-size: em(13px); 
}

.select2-container--open .select2-dropdown--below{
    border-radius: 0;
}

.panel{    
    border-radius: 2px;
    box-shadow:none;    
}
.panel-heading{
        text-transform: uppercase;
        font-size: em(20px);
        border-radius: 2px 2px 0 0;
        font-family: LatoBold, $verdana;
    }
.panel-black{
    .panel-heading{
        @include linear-gradient(to bottom, #343434 0%, #3a3a3a 49%, #414040 100%);
        color: #fff;
        border: 1px solid #000;
    }
}
.panel-body{
        border: 1px solid #d6d4d4;
        border-top:none;
        padding: 0;
    }

.panel-white{
    .panel-heading{
        @include linear-gradient(to bottom, #ffffff 0%, #f4f4f4 50%, #e6e6e6 100%);
        color: #000;
        border: 1px solid #d6d4d4;
    }
}

.btn-primary{
    background-color: $accentColor;
    border: 1px solid #e35916;
    border-radius: 3px;
    color: #fff;
    padding: 7px 22px;
    font-size: em(18px);
    &:hover{
        background: #333 none repeat scroll 0 0;
        border: 1px solid #000;
        color: #fff;
    }
}



/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.hidden{
	display:none;
}