/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px){
	/**/
}


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px){
	.main-header__nav{
		float: right;
	}

	.currencies{
		float: left;
	}

	.authorization{
		float: right;
		clear: none;
	}

	.main-header__right{
		clear: both;
		@include clearfix();
		padding-top: 10px;
	}

	.featured-products__btn-wrap,
	.featured-products__product:hover .featured-products__btn-wrap{
	position: static;
	box-shadow: none;
	opacity: 1;
	height:auto;
	border: none;
	background-color: transparent;
	}

	.main-footer__item{
		border: 0;
	}

	.main-footer__logo{
		margin-top: 26px;
		text-align: center;
	}


}


/* Small Devices, Tablets */
@media only screen and (max-width : 768px){
	.main-header__logo{
		text-align: center;
		margin-bottom: 20px;
	}

	.main-header__nav{
		float: none;
	}

	.call{
		text-align: center;
	}

	.main-menu{
		text-align: center;
	}

	.search{
		margin-bottom: 20px;
	}

	.mini-cart{
		float: none;
		width: 60%;
		margin:0 auto;
	}

	.drop-menu{
		top:200px;
		a{
			&:before{
				content: '';
			}
		}
	}

	.main-slider{
		display: none !important;
	}

	.featured-products__link{
		width: 40%;
	}

	.main-footer__call-us{
		margin-top: 20px;
	}

	
	/*Disable Animation on Mobile Devices*/
	.animated{
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}

}


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px){
	.logo__img{
		max-width: 80%;
	}

	.call{
		font-size: em(24px);
	}

	.currencies{
		/* float: none;
		text-align: center; */
	}

	.authorization{
		/* float: none;
		text-align: center; */
		font-size: em(14px);
	}

	.mini-cart{
		width: 100%;
	}

	.drop-menu{
		top:160px;
	}
}


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px){
	/**/
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px){
	/**/
}


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px){
	/**/
}


/* Small Devices, Tablets */
@media only screen and (min-width : 768px){
	/**/
}


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px){
	/**/
}


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px){
	/**/
}

