@import "bootstrap.scss";
@import "bourbon";
@import "vars.scss";
@import "fonts.scss";
@import "default.scss";


//	Header

.page__header-line{	
	@include clearfix();
	min-height: 200px;
	@include background(linear-gradient(#E4E4E4, #FFFFFF));
	padding-top: 20px;
	padding-bottom: 20px;
}

.main-header{
	@extend .container;
	position: relative;	
}

.main-header__top{
	@extend .row;
	margin-bottom: 16px;
}

.main-header__logo{
	@extend .col-md-4;
	@extend .col-sm-4;
}

.main-header__nav{
	@extend .col-md-5;
	position: static;
}

.call{
	font-family: LatoBold, $verdana;
	font-size: em(32px);
	&__phone{
		color: $accentColor;
	}
}

.main-menu{	
	&__item{
		display: inline-block;
		margin-right: 14px;
	}
	&__link_drop{
		position: relative;
		padding-right: 10px;
		&::after{
			content: "";
			font-family: FontAwesome;
			margin-left: 2px;
			position: absolute;
			top:2px;
			color: #ada8a1;
		}
	}
	&__item_drop{
		&:hover .drop-menu{			
			max-height: 10000px;
			border:1px solid #dfdedd;
			@include transition(all 0.8s ease-in);
		}
	}
}

.drop-menu{
	max-height: 0;
	overflow: hidden;
	background-color: #fff;
	position: absolute;
	width: 100%;
	left: 0;
	right: 0;
	top:100px;
	border-radius: 4px;
	border:0px solid #dfdedd;
	box-sizing:border-box;
	z-index: 100;
	@include transition(all 0.8s ease-out 0.1s);
	@extend .container-fluid;
	&__row{
		@extend .row;
		padding-top: 20px;
	}
	&__cat{
		@extend .col-md-3;
		@extend .col-sm-6;
		margin-bottom: 20px;
		&:nth-child(5){
			clear: both;
		}
	}
	&__cat_link{
		text-transform: uppercase;
		color: #000;
		border-bottom: 1px solid #e1e1e1;
		padding-top: 14px;
		padding-bottom: 14px;
	}
	&__sub_cat{
		margin-left: 6px;
		margin-top: 8px;
	}
	&__sub_cat_link{
		color: #777;
		padding-top:5px;
		padding-bottom:5px;
		font-size: em(13px);
		line-height: em(20px);
	}
}

.main-header__right{
	@extend .col-md-3;
}

.currencies{
	float: right;
	margin-bottom: 8px;
	&__label{
		font-size: em(13px);
		font-weight: normal;
		color: #56534e;
	}
	&__select{
		width: 100px;
	}
}

.authorization{
	text-align: right;
	font-size: em(18px);
	clear: both;
	&__new-accaunt,
	&__login{
		display: block;
		color: #000;
		line-height: em(20px);
	}
}

.main-header__bottom{
	@extend .row;
}

.search{
	@extend .col-md-9;
	@extend .col-sm-7;
	position: relative;
	// padding-right: 0;
	&__form{
		width: 100%;
		padding: 10px 25px 10px 10px;
	}
	&__submit{
		position: absolute;
		font-family: FontAwesome;
		padding: 10px 26px;
		border: none;
		border: 1px solid #d6d4d4;
		border-radius: 0 2px 2px 0;		
		background-color: #fff;
		right: 15px;
		top: 0px;
		bottom: 0;
		text-align: center;
		color: #000;
		font-size: em(18px);
		line-height: 20px;
		@include background(linear-gradient(#FFFFFF, #E4E4E4));
		&:hover{
			color: $accentColor;
			@include transition(all 0.2s ease-in);
		}
	}
}

.header-cart{
	@extend .col-md-3;
	@extend .col-sm-5;
}

.mini-cart{
	height: 54px;
	width: 90%;
	border: 1px solid #e35916;
  border-radius: 3px 3px 0 0;
  display: block;
  @include linear-gradient(to bottom, #fc7601 0%, #fb6806 49%, #fa5b0c 100%);  
  padding-left: 44px;
  position: relative;
  float: right;
  &__icon{
		font-family: "FontAwesome";
	  color: #fff;
	  font-size: em(36px);
	  line-height: em(24px);
  }
  &__count{
		background-color: #000;
		position: absolute;
		top: 4px;
		bottom: 4px;
		right: 4px;
		width: 86px;
		@include linear-gradient(to bottom, #343434 0%, #3a3a3a 49%, #414040 100%);
		border: 1px solid #000;
		border-radius: 3px;
		color: #fff;
		font-size: em(22px);
		text-align: center;
		line-height: em(32px);

  }
}

//	End Header

//	Main
.page__main-line{
	@extend .container;
}

.page__main-wrap{
	@extend .row;
}

.main__sidebar{
	@extend .col-md-3;
}

.main__content{
	@extend .col-md-9;
}

.left-menu{
	&__item{
		border-bottom: 1px solid #d6d4d4;		
		padding-left: 20px;		
		&:last-child{
			border-bottom: none;
		}
	}
	&__link{
		line-height: 50px;
	}
}

.special-proposition{
	&__heading{
		font-size: em(14px);
		color: $accentColor;
		margin-bottom: 10px;
	}
	&__body{
		border: none;
	}
}

.special-product{
	background-color: #F1F1F1;
	border-radius: 3px;
	margin-bottom: 10px;
	border: 1px solid #d6d4d4;
	display: block;
	padding: 20px;
	@include transition(all 0.1s ease-out);
	&:hover{
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	}
	&__name{
		color: #333;
    font-size: em(36px);
    line-height: 38px;
    text-transform: uppercase;
    text-align: center;
	}
	&__img-wrap{
		margin-bottom: 26px;
		text-align: center;
	}
	&__price{
		text-align: center;
		color: $accentColor;
		font-size: em(20px);
		font-family: LatoBold, $verdana;
	}
}

.main-slider{	
	border: 1px solid #d6d4d4;
	border-radius: 2px;
	padding: 6px 50px;
	height: 360px;
	margin-bottom: 10px;
	@include clearfix();
	&__slide{
		@include clearfix();
	}
	&__content{
		float: left;
		width: 49%;
		padding-top: 76px;			
	}
	&__img-wrap{
		float:right;
		width: 49%;
		height: 360px;
	}
	&__title{
		color: #333;
    font-size: em(37px);
    font-family: LatoBold, $verdana;
    line-height: 40px;
    margin-bottom: 20px;
	}
	&__price{
		font-size: em(46px);
		line-height: em(14px);
		color: $accentColor;
	}
	.owl-buttons{
		@include clearfix();
		position: absolute;
		left: 10px;
		right: 10px;
		top: 0;
		bottom: 0;
		margin: auto;
		height: 18px;
		.owl-prev{
			float: left;
			width: 14px;
		}
		.owl-next{
			float: right;
			width: 14px;
		}
	}
}

.featured-products{
	&__heading{
		margin-bottom: 10px;
	}
	&__body{
		@extend .container-fluid;
		border: none;
	}	
	&__wrap{
		@extend .row;
	}
}

.product-list{	
	&__item{
		@extend .col-md-4, .col-sm-4;
		margin-bottom: 10px;	
	}
	&__product{
		border: 1px solid #d6d4d4;
		padding: 16px;
		background-color: #fff;
		position: relative;
		border-radius: 3px;
		overflow: hidden;
		&:hover{
			box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
			overflow: visible;
			.product-list__btn-wrap{
				opacity: 1;
				bottom: -76px;						
			}
		}
	}	
	&__link{
		display: block;
		width: 80%;
		margin:0 auto 20px;
	}	
	&__name{
		font-size: em(14px);
		margin-bottom: 20px;
	}
	&__btn-wrap{
		opacity: 0;
		@include transition(opacity 0.1s ease-in, bottom 0.1s ease-in);
		position: absolute;
		bottom: -30px;
		left: -1px;
		right: -1px;
		height: 80px;
		border: 1px solid #d6d4d4;
		border-top:0;
		background-color: #fff;
		z-index: 10;
		text-align: center;
		box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
		border-radius: 0 0 3px 3px;
	}
	&__btn{
		position: relative;
		padding-left: 60px;
		&::before{
			color: #fff;
    	content: "";
    	font-family: FontAwesome;
    	margin-right: 6px;
    	font-size: em(28px);
    	position: absolute;
    	top: -3px;
    	left:20px;
		}
	}
}

.product-price{
	&__current{
		font-size: em(19px);
		color: $accentColor;
		font-family: LatoBold, $verdana;
		margin-right: 20px;
	}
	&__old{
		color: #777;
		font-size: em(16px);
		text-decoration: line-through;
	}
}

.category-products-list{
	&__descr{
		@extend .col-md-12;
		font-size: em(13px);
		margin-bottom: 20px;
	}
	&__cat{
		margin-bottom: 60px;
	}
	&__pagination{
		margin-left: 15px;
	}
}

.category-inline-list{
	@include clearfix();
	&__item{
		@extend .col-md-2;		
		&:hover{
			.category-inline-list__img-wrap{
				border: 1px solid #000;		
				@include transition(all 0.5s ease-out);
			}	
		}
	}
	&__img-wrap{
		border: 1px solid #d6d4d4;
		padding: 10px;
		margin-bottom: 8px;
		@include transition(all 0.1s ease-out);
		display: block;
	}
	&__name{
		text-transform: uppercase;
		font-size: em(13px);
	}
}

.product{
	margin-bottom: 20px;
	@extend .row;
	&__gallery{
		@extend .col-md-4;
		margin-bottom: 20px;
	}
	&__content{
		@extend .col-md-8;
	}
}

.product-content{
	@include clearfix();
	&__left{
		@extend .col-md-8;
		margin-bottom: 20px;
	}
	&__right{
		@extend .col-md-4;
		border: 1px solid #d6d4d4;
		padding-top: 30px;
		padding-bottom: 30px;
		margin-bottom: 20px;
	}
	&__bottom{
		@extend .col-md-12;
		padding-right: 0;
	}
	&__name{
		color: #000;
		text-transform: uppercase;
		font-size: em(20px);
		font-family: LatoBold, $verdana;
		margin-bottom: 10px;
	}
	&__price{
		margin-bottom: 20px;
	}
	&__count{
		margin-bottom: 30px;
	}
	&__descr{
		font-size: em(14px);
	}
}

.product-count{
	&__input{
		padding: 8px;
	}
}

.product-prop{
	&__item{
		font-size: em(13px);
	}
}

.product-char{
	list-style-type: none;
	padding-left: 0;
	&__item{
		padding-left: 10px;
		margin-bottom: 20px;
	}
	&__type{
		margin-left: -10px;
	}
}

.contact{
	@include clearfix();
	&__descr{
		font-size: em(14px);
		@extend .col-md-12;
		margin-bottom: 20px;
	}
	&__form{

	}	
}

.contact-form{
	@include clearfix();
	&__name{
		@extend .col-md-4;
		margin-bottom: 10px;
	}
	&__email{
		@extend .col-md-4;
		margin-bottom: 10px;
	}
	&__subject{
		@extend .col-md-4;
		margin-bottom: 10px;
	}
	&__message{
		@extend .col-md-12;
		margin-bottom: 10px;
	}
	&__submit{
		@extend .col-md-12;
		margin-bottom: 30px;
	}
}

.contact-form-label{
	display: block;
	&__name{
		font-size: em(13px);
	}
}

.contact-form-input{
	width: 100%;
	padding: 8px;
	font-weight: normal;
}

.contact-form-textarea{
	width: 100%;
	min-height: 200px;
	padding: 8px;
	font-weight: normal;
}

.about-us{
	@extend .col-md-12;
	margin-bottom: 20px;
}

.about-as-item{
	position: relative;
	padding-left: 86px;
	margin-bottom: 26px;
	&::before{
		position: absolute;
		content: '';
		font-family: FontAwesome;
		width: 56px;
		height: 56px;
		top: 0;
		left: 0;
		font-size: em(50px);
		color: #7a7a7a;
	}
	&__name{
		color: #000;
    font-size: em(18px);
    font-weight: 300;
    line-height: 28px;
	}
	&__text{
		color: #56534e;
		font-size: em(13px);
	}
}

//	End Main

//	Main footer

.page__footer-line{
	@include background(linear-gradient(#E4E4E4, #FFFFFF));

	margin-bottom: 20px;
}

.main-footer{
	@extend .container;
	padding-top: 20px;
	&__wrap{
		@extend .row;
	}
	&__menu{
		@extend .col-md-2, .col-sm-2, .col-md-offset-1, .col-sm-offset-1;
		border-right: 1px solid #d6d4d4;
	}
	&__call-us{
		@extend .col-md-5, .col-md-offset-0, .col-sm-offset-3, .col-sm-5;
		border-right: 1px solid #d6d4d4;
	}
	&__logo{
		@extend .col-md-3, .col-sm-12;
	}	
}

.footer-menu__item{
	margin-bottom: 4px;
}

.page__copyright-line{
	background-color: #F2F2F2;
}

.copyright-footer{
	@extend .container;
	padding-top: 10px;
	padding-bottom: 10px;
	&__wrap{
		@extend .row;
	}
	&__content{
		@extend .col-md-12;
		color: #777;
    font-size: em(12px);
    font-family: LatoLight, $verdana;     
	}
}

//	End Main footer

@import "media.scss";